* {
    box-sizing: border-box;
    background-color: #DAD2BC;
    margin:0;
    padding:0;
    font-family:Helvetica, sans-serif;
}

h1 {
    margin: 0;
    font-weight: 500;
    color:#8f1aa7;
    
}

h4 {
    margin: 0;
    background-color: #AFBBF2;
    font-weight: 500;
    color:black;
}

.navbar {
    display:flex;
    align-items: center;
    height:60px;
    width:100%;
    background-color: #AFBBF2;
    padding: 30px;
    gap:180px;
  }

.logo {
    height: 50px;
}

Footer {
    display: flex;
    gap: 1260px;
    height:40px;
    background-color: #AFBBF2;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #8f1aa7;
    color:white;
    align-items: center;
    border-radius: 16px;
    font-size: 17px;
    line-height: 20px;
    max-width: 100%;
    min-width: 140px;
    padding: 5px;
    cursor:pointer;
    transition: all 0.5s;
}

button:active{
    background-color: #AFBBF2;
    box-shadow: 0 5px #AFBBF2;
    transform: translateY(4px);
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background-color: #8f1aa7 ;
  }
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 20px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

.homelink {
    text-decoration: none;
    color: white;
    background: #8f1aa7;
    display:block;
}

.homebutton {
    margin-left:5%;
}

.profilelink {
    text-decoration: none;
    color: white;
    background: #8f1aa7;
    display:block;
}

.profilebutton {
    border-right: auto;
}

.aboutlink {
    text-decoration: none;
    color: white;
    background: #8f1aa7;
    display:block;
}

.aboutbutton {
    border-right: auto;
}

.title {
    display:flex;
    margin-left:30px;
    background-color:#AFBBF2 ;

}

.title--text {
    margin-top: 13px;
    text-decoration: overline;
    text-decoration-style:wavy;
    text-decoration-thickness: 2px;
    background-color: #AFBBF2;   
}



