.container {
    position:fixed;
    left:12.5%;
    top:60px;
    bottom:40px;
    width:87.5%;
    height: 100%;
}

.mapcontainer {
    position:fixed;
    left:12.5%;
    top:60px;
    bottom:40px;
    width:87.5%;
    height: 100%;
}





.markerviewcontainer {
    
    display:flex;
    flex-direction: column;
    background-color: #AFBBF2;
    
    border: 5px solid #8f1aa7;
    width: 300px;
    height: 200px;
    overflow-y: scroll;
}

.markerviewheading {
    background-color: #AFBBF2;
    text-align: center;
    border-bottom: 3px dotted #8f1aa7;
}

p {
    font-size:12px;
    font-style:italic;
    background-color: #AFBBF2;
}

h5 {
    background-color: #AFBBF2;
    padding: 3px;
}

.markerviewbody {
    display:flex;
    flex-direction: row;
    background-color: #AFBBF2;
}

li {
    padding:5px;
    background-color: #AFBBF2;
}

.markerviewbuttons {
    display:flex;
    flex-direction: row;
    background-color: #AFBBF2;
}